<div class="section-2-panel-a"> AA-1524 </div>
<div class="section-2-buttons">
    <%- include('links.ejs', { links: [ { href: '' , target: "" , icon: '' , id: "" , title: '' ,
        class:'', text: 'JS2B-01' }, { href: '' , target: "" , icon: '' , id: "" , title: '' , class:'',
        text: 'IS2B-02' }, { href: '' , target: "" , icon: '' , id: "" ,title: '' , class:'',
        text: 'MS2B-03' } ] } ) %>
</div>
<div>
    <div class="section-2-panel-b"> <a href="">B2-0730</a> </div>
    <div class="section-2-panel-c">C-318</div>
    <div class="section-2-panel-d">DL-44</div>
    <div class="section-2-panel-e">E-3504</div>
</div>