<div class="lcars-frame">
    <div class="frame-col-1">
        <div class="frame-col-1-cell-a"></div>
        <div class="frame-col-1-cell-b"></div>
        <div class="frame-col-1-cell-c"></div>
    </div>
    <div class="frame-col-2"> </div>
    <div class="frame-col-3 display-vertical">
        <div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div>
    </div>
    <div class="frame-col-4"> </div>
    <div class="frame-col-5">
        <div class="frame-col-5-cell-a"></div>
        <div class="frame-col-5-cell-b"></div>
        <div class="frame-col-5-cell-c"></div>
    </div>
</div>
<div class="pillbox">
    <div class="pill"><a href="">J-001</a></div>
    <div class="pill"><a href="">R-002</a></div>
    <div class="pill"><a href="">R-003</a></div>
    <div class="pill"><a href="">I-004</a></div>
    <div class="pill"><a href="">C-005</a></div>
    <div class="pill"><a href="">A-006</a></div>
</div>
<div class="lcars-list-2 uppercase">
    <%- include('list-items.ejs',{
        items: [
            {text:'Subspace Link: Established'},
            {text:'Starfleet Database: Connected'},
            {text:'Quantum Memory Field: stable'},						
            {text:'Optical Data Network: rerouting', class:'oc-almond-creme go-almond-creme'}
        ]
    }) %>
</div>
<div class="pillbox">
    <div class="pill-2"><a href="">F12-22</a></div>
    <div class="pill-2"><a href="">G24-22</a></div>
    <div class="pill-2"></div>
    <div class="pill-2"><a href="">H-07AM</a></div>
    <div class="pill-2"><a href="">I50-72</a></div>
    <div class="pill-2"><a href="">J5369</a></div>
</div>