<footer>
    <div class="footer-inside">
      <div class="footer-text">
        <p>Copyright &#169; 2023 <%= title %>.</p>
        <p>LCARS Inspired Website Template by Jim Robertus <a
            href="https://www.thelcars.com">www.TheLCARS.com</a>.</p>
            <p>LCARS ExpressJS implimentation by Jeff Caradona <a
              href="https://github.com/jeffcaradona/LCARS-ExpressJS">Github</a>.</p>
      </div>
    </div>
    <div class="footer-panel"> <span class="hop">22</span>47 </div>
  </footer>