<% var defaults={ content_file:'default-ultra.ejs' , title:'ULTRA Classic' , style:'ultra',
	body:'body-ultra.ejs' } %>
	<!DOCTYPE html>
	<html lang="">

	<head>
		<%- include('partials/head.ejs',{title:defaults.title, style: defaults.style}) %>
	</head>


	<body>

		<%- include('partials/' + defaults.body ,{title:defaults.title, content_file: defaults.content_file}) %>

	</body>

	</html>