<% var defaults = {content_file:'default-ultra.ejs' , title:'ULTRA Classic' , style:'ultra' } %>

	<!DOCTYPE html>
	<html>

	<head>
		<%- include('partials/head.ejs',{title:defaults.title}) %>
	</head>


	<body>

		<%- include('partials/body-' + defaults.style + '.ejs',{title:defaults.title, content_file: defaults.content_file}) %>

	</body>

	</html>